<!doctype html>
<html>
<head>
	<title>Mojave Server</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body { word-wrap: break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-user"></span> Profile</h1>
	</div>

	<div class="row">

		<!-- USER INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3>
					<%= user.firstName %> <%= user.lastName %>
					<a href="/logout" class="btn btn-default btn-sm">Logout</a>
				</h3>

				<img src= <%= user.picture %> />

				<p>
					<strong>userID</strong>: <%= user.userID %><br>
					<strong>email</strong>: <%= user.email %><br>
					<!-- <strong>fbToken</strong>: <%= user.fbToken %><br> -->
					<strong>firstName</strong>: <%= user.firstName %><br>
					<strong>lastName</strong>: <%= user.lastName %><br>
					<strong>friends</strong>: <%= user.friends %><br>
					<strong>albums</strong>: <%= user.albums %><br>
					<strong>currentAlbum</strong>: <%= user.currentAlbum %><br>
					<strong>appPrefs</strong>: <%= user.appPrefs %>
				</p>
			</div>
		</div>

	</div>

</div>
</body>
</html>
