<!doctype html>
<html>
<head>
	<title>Mojave Web</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>

	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand">Mojave Web</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="/albums"><span class="fa fa-picture-o"> Albums</a></li>
	        <li class="active"><a href="#"><span class="fa fa-user"> Profile</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/logout"><span class="fa fa-sign-out"></span> Logout</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

<div class="container">

	<div class="page-header text-center">
		<h1>Profile</h1>
	</div>

	<div class="row">

		<!-- USER INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3>
					<span class="fa fa-user"></span>
					<%= user.firstName %> <%= user.lastName %>

				</h3>

				<img src= <%= user.picture %> />

				<p>
					<strong>userID</strong>: <%= user.userID %><br>
					<strong>email</strong>: <%= user.email %><br>
					<!-- <strong>fbToken</strong>: <%= user.fbToken %><br> -->
					<strong>firstName</strong>: <%= user.firstName %><br>
					<strong>lastName</strong>: <%= user.lastName %><br>
					<strong>friends</strong>: <%= user.friends %><br>
					<strong>albums</strong>: <%= user.albums %><br>
					<strong>currentAlbum</strong>: <%= user.currentAlbum %><br>
					<strong>appPrefs</strong>: <%= user.appPrefs %>
				</p>
			</div>
		</div>

	</div>

</div>
</body>
</html>
